/* Importe une police de caractères personnalisée pour la page */
@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap');

/* Applique une police de caractères de secours et un padding au corps de la page */
body {
  font-family: Arial, sans-serif;
  padding-top: 12%; /* Ajustez cette valeur en fonction de la hauteur de votre barre de navigation */
}

/* Style pour la barre de navigation fixée en haut */
.sticky {
  position: fixed;
  top: 0%;
  left: 20%; /* Place la barre à 20% de la marge gauche */
  right: 20%; /* Place la barre à 20% de la marge droite */
  width: 55%; /* Largeur de la barre */
  height: 25%; /* Hauteur de la barre */
  background-color: cyan; /* Couleur de fond de la barre */
  opacity: 100%; /* Opacité de la barre */
  text-align: center; /* Alignement du texte au centre */
  border-radius: 30px;
}

/* Ajoute une marge supérieure et inférieure aux paragraphes d'introduction */
.Intro {
  margin-top: auto;
  margin-bottom: 50px;
}

/* Style pour la table des matières */
.Table td {
  border: 1px solid black; /* Bordure autour des cellules */
  padding: 10px; /* Espace à l'intérieur des cellules */
  text-align: center; /* Alignement du texte au centre */
  color: black; /* Couleur du texte */
}

/* Centre le titre principal */
h1 {
  text-align: center; /* Alignement du texte au centre */
}

/* Style pour les sous-titres */
h2 {
  font-family: 'Bungee Shade', cursive; /* Police de caractères personnalisée */
}

/* Style pour les sections */
section {
  background-color: #f5f5f5; /* Couleur de fond des sections */
  padding: 20px; /* Espace à l'intérieur des sections */
  margin: 20px 0; /* Marge autour des sections */
}

/* Style pour les titres de section */
section h2 {
  font-size: 24px; /* Taille de police pour les titres de section */
  margin-top: 0; /* Pas de marge supérieure pour les titres de section */
  margin-bottom: 20px; /* Marge inférieure pour les titres de section */
}

/* Style pour les listes */
ul {
  list-style-type: square; /* Style de puce */
  margin-left: auto; /* Marge à gauche de la liste */
}

/* Style pour les éléments de liste */
li {
  margin-bottom: 1%; /* Marge inférieure pour les éléments de liste */
}
